$f-family: Verdana, sans-serif;

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

// *, *::before, *::after{
//     box-sizing: inherit;
// }

body{
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url('https://cdn.pixabay.com/photo/2017/06/05/11/01/airport-2373727_960_720.jpg');
}



h4, label{
    font-size: 200%;
    font-family: $f-family;
}

p{
    font-size: 200%;
    font-family: $f-family;
    padding-left: 10rem;
}

@mixin caja-flex($principal, $cruzado, $wrap) {
    display: flex;
    justify-content: $principal;
    align-items: $cruzado;
    flex-wrap: $wrap;
}

@mixin caja-grid($column, $row, $gap) {
    display: grid;
    grid-template-columns: $column $column $column;
    grid-template-rows: $row;
    grid-gap: $gap
}

@mixin caja-grid-responsive($column, $row, $gap) {
    display: grid;
    grid-template-columns: $column;
    grid-template-rows: $row;
    grid-gap: $gap
}

@mixin caja-grid-form($column, $row, $gap) {
    display: grid;
    grid-template-columns: $column $column;
    grid-template-rows: $row;
    grid-gap: $gap
}